:root{
  --background: #f3f3f3;
}
html{
  font-family: "Arial", "Helvetica", sans-serif;
  background-color: var(--background);
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: ;
}
.topbar{
  display: flex;
  width: 100%;
  height: 70px;
  position: sticky;
  align-items: center;
  top: 0;
  background-color: var(--background);
  z-index: 999;
  border-bottom: solid 2px var(--background);
}
.topbar.scrolled{
  border-bottom: solid 2px #e9e9e9;
}
.topbar h1{
  margin-left: 80px;
  color: #12b974;
}
.topbar-links{
  margin-left: auto;
}
.topbar-links a{
  text-decoration: none;
  color: black;
  padding: 8px 20px;
  transition: background-color 0.2s ease;
}
.topbar-links a:hover{
  background-color: #dfdfdf;
  border-radius: 5px;
  border-bottom: solid 2px transparent;
}
.topbar-links a:not(:last-child){
  margin-right: 20px;
}
.topbar-links a:last-child{
  margin-right: 80px;
}
.link-active{
  border-bottom: solid 2px black;
}
.topbar h1 a{
  text-decoration: none;
  color: #12b974;
}
main{
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: re;
  gap: 70px;
  margin: 30px 0 120px 0;
}
main:nth-child(2){
  justify-content: center;
  align-items: center;
}


nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  background-color: ;
  gap: 40px;
  background-color: blu;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;
  height: 230px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.card p{
  font-weight: bold;
}
.card-img{
  display: flexbox;
  width: 140px;
  height: 120px;
  background-color: #6ce4b2;
  border-radius: 5px;
}
.card a{
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: ;
  border: solid 2px var(--background);
  border-radius: 5px;
}
.card a:hover{
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #747474;
  border: solid 2px #747474;
}
.markdrop{
  color: #12b974;
}

.botao{
  display: flex;
  width: 50%;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.botao:hover{
  background-color: #dfdfdf;
}
footer{
  display: flex;
  width: 100%;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #0f945d;
}
footer p{
  color: white;
  font-weight: bold;

}

@media screen and (max-width: 873px) {
  .topbar-links a:not(:last-child){
  margin-right: 5px;
}
  .topbar-links{
    display: none;
  }
}

.hospital-rec-jab{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
  background-color: #0f945d;
}
.hospital-rec-jab p{
  width: 50vw;
  color: white;
}
.hospital-rec-jab h2{
  width: 50vw;
  color: white;
}
.hospital-rec-jab .markdrop {
  color: #12b974;
  background-color: rgb(255, 255, 255);
  padding: 2px 10px;
  border-radius: 5px;
}

.boxers{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 30px;
}

.boxers div{
  width: 100%;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.boxers div:hover{
  transform: scale(1.1);
}

.boxers .destaque{
  font-weight: bold;
}
.boxers p:last-child{
  margin-top: -10px;
  font-size: 0.8em;
}
#box-consultas{
  background-color: #beffd4;
}
#box-exames{
  background-color: #ffe6b8;
}
#box-odontologia{
  background-color: #c4e7ff;
}
#box-consulta{
  background-color: #d1abfc;
}
#box-resultados{
  background-color: #ffbcc7;
}
#box-retornos{
  background-color: #bfc9ff;
}
.box-img{
  display: flexbox;
  width: 10px!important;
  height: 10px;
  border-radius: 5px!important;
}
#div-consultas{
  background-color: #83d89f;
}
#div-exames{
  background-color: #dfbe82;
}
#div-odontologia{
  background-color: #93c0df;
}
#div-consulta{
  background-color: #a27acf;
}
#div-resultados{
  background-color: #da8896;
}
#div-retornos{
  background-color: #808cd3;
}
.fade-out { opacity: 0; transition: opacity 0.4s ease; }
